
@page
@model Guia2DPWA.Pages.Ejercicio1Model
@{
    ViewData["Title"] = "Ejercicio 1";
}
<div class="container mx-center">
    <div class="row justify-content-center">
        <form method="post">
            <div class="form-group">
                <label for="nombre">Nombre Completo</label>
                <input type="text" class="form-control" id="nombre" name="Nombre" placeholder="Nombre Completo" required>
            </div>
            <div class="form-group">
                <label for="edad">Edad</label>
                <input type="number" class="form-control" id="edad" name="Edad" placeholder="Edad" required>
            </div>
            <div class="form-group">
                <label for="salario">Salario Base</label>
                <input type="number" class="form-control" id="salario" min="0.0" step="any" name="Salario" placeholder="Salario Base" required>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary" asp-page-handler="Submit" />
            <div class="row justify-content-center my-5">
                <div class="col-md-8">
                    <h2 class="text-center">Resultado</h2>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Nombre Completo y No. de Vocales</th>
                                <th scope="col">Año de Nacimiento</th>
                                <th scope="col">Salario final</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.MostrarNombre</td>
                                <td>@Model.MostrarAnioNac</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>